# Created by .ignore support plugin (hsz.mobi)
.idea
CMakeLists.txt
vendor
/.cproject
/.project
*.o
*.lo
*~
*.so
*.loT
*.pid
*.gcno
*.gcov
/Debug/*
modules/*
/.deps
/.libs/
/core
/examples/core
/Debug
/CMakeFiles
/cmake_install.cmake
/Makefile
/bin
/lib
/library
/install_manifest.txt
/config.guess
/config.h
/config.h.in
/config.log
/config.nice
/config.status
/config.sub
/configure
/Makefile.fragments
/Makefile.global
/Makefile.objects
/install-sh
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/phptars.la
/acinclude.m4
/aclocal.m4
/run-tests.php
/autom4te.cache
/build
/examples/async/data.txt
/examples/.idea
/examples/recv_file.jpg
/modules
/tools/.idea/
/tmp-php.ini
.settings/
tests/.idea
/core-tests/server/*.log
cmake-build-debug/
*.cbp
/.vscode
/.vs
/configure.in
/configure.ac